@use "../customBoot" as *;
@use "../components/mixins" as *;

.portfolio-box {
  position: relative;
  color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(#000, 0.6);
}

.portfolio-img {
  width: 100%;
  height: 16rem;
}

.portfolio-line {
  width: 100%;
  height: 0.6rem;
  background: rgba($primary, 0.6);
}

.portfolio-info-container {
  @include centerDiv;
  height: 100%;
  width: 100%;
  background: rgba($primary, 0.6);
  display: none;
}

.portfolio-info {
  @include centerDiv;
}

.portfolio-img {
  width: 100%;
}

.portfolio-box:hover {
  .portfolio-img {
    @include transitionProperty;
    transform: scale(1.5);
  }

  .portfolio-info-container {
    display: block;
  }
}
